@layout('layouts/app')
@set('title', 'Home')

@section('body')
its work
{{auth.user.name}}

  @if(auth.isAuthenticated)
  <form action="/logout" method="POST">

    <button type="submit">Logout</button>

  </form>
  @endif

@end
