<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>
<body>
    
    <nav class="w-full bg-white shadow-md border flex justify-center px-4">
        <div class="w-1/2 flex justify-between"></div>
    </nav>

    @!section('body')

</body>
</html>